@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Miriam+Libre&display=swap');
*,
body {
  margin: 0;
  padding: 0;
  font-family: 'Miriam Libre', sans-serif;
}
body {
  background: linear-gradient(45deg, #3c2921, #000000f0);
  background-attachment: fixed;
  background-repeat:no-repeat ;
  min-height: 100vh;
}
header {
  position: fixed;
  width: 100%;
  background:linear-gradient(45deg, #3b2721, #000000ed);
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  box-shadow: 0px 1px 30px 1px #000;
  z-index: 100;
}
ul {
  list-style-type: none;
}
.navbar ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.navbar li {
  padding: 10px;
}
.navbar li:first-child {
  padding-left: 30px;
}
.navbar li:last-child div {
  float: right;
  margin-right: 20px;
}
.navbar li:nth-last-child(2) div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.radiusSize {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: 1px solid #fff;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-icon {
  display: grid;
  grid-template-columns: 50px 50px;
  align-items: center;
}
.lessSign {
  font-size: 18px;
  width: 28px;
  height: 28px;
}
.buttons button {
  border-radius: 30px;
  border: none;
  background: #514743;
  color: #fff;
  padding-right: 20px;
  margin: 5px;
  outline: none;
  cursor: pointer;
  position: relative;
  padding-left: 40px;
  padding-bottom: 9px;
  padding-top: 9px;
  width: auto;
}
.buttons button i {
  position: absolute;
  left: 0;
  font-size: 25px;
  top: 0;
  margin-top: 6px;
  margin-left: 5px;
}
.buttons button:last-child {
  padding-left: 30px;
}
.left-menus {
  position: fixed;
  bottom: 0;
  width: 10%;
  background: #000000fa;
  top: 0;
  margin-top: 100px;
  z-index: 50;
}
.left-items div {
  padding: 10px;
  padding-bottom: 0px;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 60px;
}

.left-items div img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.left-items div h5 {
  margin-left: 5px;
  font-size: 20px;
  display: none;
}
.item-center {
  position: absolute;
  background: none;
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  display: block;
  height: auto;
  margin-top: 120px;
}
.grid-items {
  display: inline-block;
  background: #130c0c;
  border-left: 3px solid blueviolet;
  min-height: 60px;
  width: auto;
  color: #fff;
  position: relative;
  padding: 3px;
  margin: 2px 2px 2px 2px;
  padding-right: 30px;
  padding-left: 10px;
  min-width: 200px;
}
.grid-items .item {
  display: inline-block;
}
.grid-items .item-name {
  margin-top: 5px;
  font-size: 15px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.item-center::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.item-center {
  -ms-overflow-style: none;
}
.app-footer{
    position: fixed;
    bottom: 0;
    height: 70px;
    background:linear-gradient(45deg, rgba(68, 47, 47, 0.82), rgb(26, 25, 37), rgba(0, 0, 0, 0.94));
    z-index: 100;
    width: 100%;
}
.clockIcon{
    font-size: 18px!important;
    margin-top: 10px!important;
}
.lists{
    display: grid;
    grid-template-columns: 35px 35px;
}
.list{
    color: #fff;
    text-align: center;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list:first-child{
    border: 1px solid #ddd;
    background: #fff;
    color: #000;
}
.list:last-child{
    border: 1px solid #82697c;
    background: #3d303a;
}
.footer-action{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #fff;
}
.footer-action div{
    border: 1px solid #82697c;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.footer-action div small{
    display: inline-block;
}
.footer-action div h3{
    display: inline-block;
}
@media screen and (min-width: 768px) {
.left-menus{
    width: 14%;
}
  .lessSign {
    font-size: 18px;
    width: 28px;
    height: 28px;
  }
  .buttons button {
    border-radius: 30px;
    border: none;
    background: #514743;
    color: #fff;
    padding-right: 20px;
    margin: 5px;
    outline: none;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    padding-bottom: 9px;
    padding-top: 9px;
    width: auto;
    font-size: 14px;
  }
  .buttons button i {
    position: absolute;
    left: 0;
    font-size: 22px;
    top: 0;
    margin-top: 7px;
    margin-left: 5px;
  }
  .buttons button:last-child {
    padding-left: 25px;
  }
}

.shows{
  margin-left: 13rem;

}

@media only screen and (max-width: 600px) {
  .shows{
    margin-left: 5rem;
  
  }
  .left-menus {
    position: fixed;
    bottom: 0;
    width: 20%;
    background: #000000fa;
    top: 0;
    margin-top: 100px;
    z-index: 50;
}
.buttons button:last-child {
  padding-left: 30px;
  display:none;
}

.buttons button {
  display:none
}


.navbar li {
  margin-left: -27px;
}
}